#navguy {
    background-color: pink;
    height: 150px;
}

#header {
    color: teal;
    font-size: 80px;
}

#resume {
    float: right;
    font-size: 30px;
    color: teal;
}

.navvys {
    background-color: pink;
    border: none;
    color: teal;
    font-size: 30px;
    margin: 5px;
}

.displays {
    display: none;
}

#btnHolder {
    height: 80px;
    padding: 10px;
}

#aboutPic {
    height: 700px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

body {
    background-image: url("marble.jpg");
  }

  .projPic {
      float: left;
      height: 250px;
      margin: 20px;
  }

  #projDispCont {
      height: 1000px;
  }

  .contLink {
      font-size: 25px;
      clear: right;
  }